@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: black;
}
section {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  border-radius: 20px;
  margin-top: 55px;
  padding: 40px;
}
.main-card {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.ss {
  display: flex;
}
h1 {
  font-size: 40px;
}
.inputt {
  padding: 11px 30px;

  border: transparent;

  width: 100%;
  outline: none;
}

img {
  border-radius: 20px;
}
a {
    margin-top: -15px;

  color: black;
}
.login {
  text-decoration: none;
  color: white !important;
  background-color: #6caee2;
  text-align: center;
  border-radius: 10px;
  padding: 12px 5px;
cursor: pointer;
  transition: 0.3s;
  border: transparent;
}
.login:hover {
  background-color: #319beb;
}
@media (max-width: 1120px) {
  img {
    width: 400px;
  }
}
@media (max-width: 920px) {
  img {
    width: 300px;
  }
  h1 {
    font-size: 30px;
  }
  .inputt {
    padding: 10px 20px;
  }

}
@media (max-width: 750px) {
  section {
    flex-direction: column;
  }
}
@media (max-width: 370px) {
  section {
    width: 90%;
  }
}
.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-bottom: 0.5px solid !important;
}
.eye {
  display: flex;
}
#hide1 {
  display: none;
}
